.custom-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 5vw 0 5vw;
}

.custom-table thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.custom-table th,
.custom-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.custom-table tbody tr:hover {
    background-color: #cecece;
}

.custom-table td:nth-child(1) {
    text-align: center;
}

.custom-table button {
    background-color: #d70000;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: auto auto;
    display: block;
    font-family: inherit;
}

