.gameOptionsContainer {
    display: grid;
    grid-template-rows: 4fr 1fr;
    width: fit-content;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.square {
    width: 20vw;
    height: 20vw;
    display: inline-block;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .gameOptionsContainer {
        padding:5vw;
    }
    .square {
        width: 40vw;
        height: 40vw;
    }
}



.left {
    background-color: teal;
}

.right {
    background-color: salmon;
}

.button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}
