.image-stack {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 40vw;
  height: auto;
}

@media (max-width: 1024px) {
  .img {
    max-height: 40vh;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

.triangles {
  position: absolute;
  z-index: 3;
}

.open {
  position: absolute;
  z-index: 4;
}

.closed {
  position: absolute;
  opacity: 1;
  z-index: 5;
}

.spinner {
  position: absolute;
  z-index: 6;
}


