/*
* General styling to be applied to all content and imports from different CSS files
*/

@import url('game.css');
@import url('game-options.css');
@import url('display-deck.css');
@import url('card-form.css');
@import url('navbar.css');
@import url('faq.css');
@import url('footer.css');

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: lighter;
  font-style: normal;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: calc(1vw + 4.5vh);
}

body {
  font-family: "Poetsen One", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  font-size: calc(1vw + 1vh);
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 70vh;
}

@media (max-width: 1024px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    height: 78vh;
  }
}

.button {
  font-family: inherit;
}

.home-page {
  overflow: hidden;
}